@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is TGF Web App!</p>
    @if (User.Identity.IsAuthenticated) {
        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="GetOne" asp-route-username="@User.Identity.Name">
            See your profile
        </a>
    }
    
</div>
