@model TGF.WebApp.Models.StoryVM

<h4>StoryVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <input asp-for="CreationDate" class="form-control" hidden />
            <input asp-for="FromCharacter" class="form-control" hidden />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <div>
            <a class="" asp-controller="Character" asp-action="Get" asp-route-id="@Model.FromCharacter">Back to card</a>
        </div>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
